#pageBackground {
    height: 100vh;
    overflow: hidden;
}

#pageBackground img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header {
    padding-bottom: 10px;
    background: rgba(11, 13, 25, 0.3);
}

header h1 {
    font-size: 30px;
    margin: 10px;
}

header ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: rgba(11, 13, 25, 0.8);
    outline: 10px solid rgba(237, 221, 157, 0.38);
    outline-offset: -10px;
    width: 100vw;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

#mobileClosed {
    display: none;
}

#mobileOpen {
    display: flex;
}

header li {
    font-size: 22px;
    margin: 20px 0;
    padding: 0 10px;
}

#mobileMenuButton {
    width: 46px;
    height: 36px;
    position: fixed;
    top: 10px;
    right: 10px;
}

#mobileMenuButton span {
    width: 46px;
    height: 4px;
    background: #eddd9d;
    position: absolute;
    transition: .2s ease-in;
}

#mobileMenuButton span:first-child {
    transform-origin: 0;
    right: 0;
    top: 0;
}

#mobileMenuButton span:nth-child(2) {
    right: 0;
    top: 16px;
}

#mobileMenuButton span:last-child {
    transform-origin: 0;
    right: 0;
    top: 32px;
}

main {
    margin: 66px 0 0;
    height: calc(100vh - 64px);
    padding: 0;
    background: rgba(11, 13, 25, 0.3);
}

p {
    margin: 20px 10px;
    line-height: 1.5em;
}

.scrollBox::-webkit-scrollbar {
    width: 8px;
}

.gridContainer {
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 20px;
    grid-template-areas: "text1" "pic1" "text2" "pic2" "form";
}

.spaceXImg {
    outline: 5px solid rgba(237, 221, 157, 0.38);
    outline-offset: -5px;
}

#up {
    bottom: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
}

label input {
    height: 2.5em;
}

.singleContainer {
    padding-bottom: 50px;
}

#map {
    width: 100%;
    height: 400px;
}

.singleContainer h3 {
    margin: 30px 10px 10px;
}

#mobileJump a {
    color: inherit;
    font-style: italic;
}

.fc-scroller {
    height: 100%!important;
}

.fc-toolbar h2 {
    font-size: 1.5em!important;
}

.noGridImg {
    margin: 40px 0 0;
}

.imgText {
    margin: 10px 20px;
}

#mobileJump {
    margin: 20px 10px;
}

#event, #eventRight, #eventLeft {
    padding: 10px 0;
    border: 5px solid rgba(237, 221, 157, 0.38);
    position: fixed;
    top: 66px;
    left: 0;
    width: calc(100% - 10px);
    height: calc(100vh - 96px);
    transform-origin: left;
}

#event p, .detailContainer p, #eventRight p, #eventLeft p {
    margin: 5px;
}

iframe {
    min-height: 300px;
}

.detailContainer {
    border: 5px solid rgba(237, 221, 157, 0.38);
    padding: 5px 0;
}

.detailContainer:last-child {
    margin-bottom: 50px;
}

#capsulesContainer .detailContainer:last-child {
    margin-bottom: 10px;
}

.detailContainer h3 {
    width: calc(100vw - 80px);
    margin: 10px;
}

.openInfo {
    width: 40px;
    height: 40px;
}

.horiSpan {
    width: 40px;
    top: 17px;
}

.vertSpan {
    height: 40px;
    left: 17px;
}

.aboutImgText {
    margin-bottom: 20px;
}

#links, #roles {
    margin-top: 20px;
}

.spinner-error {
    display: none;
}
