#pageBackground {
    width: 100vw;
    height: 100vh;
}

#pageBackground img {
    width: 100vw;
    height: 100vh;
}

header {
    background: rgba(11, 13, 25, 0.3);
}

header h1 {
    font-size: 32px;
    margin: 20px;
}

header ul {
    display: flex;
}

header li {
    font-size: 20px;
    margin: 10px 0;
    padding: 0 10px;
}

header li:nth-child(1), header li:nth-child(2), header li:nth-child(3) {
    border-right: 3px solid #eddd9d;
}

#mobileMenuButton {
    display: none;
}

main {
    margin: 78px 0 0;
    padding: 0;
    height: calc(100vh - 78px);
    background: rgba(11, 13, 25, 0.3);
}

p {
    margin: 20px 10px;
    line-height: 1.5em;
}

.scrollBox::-webkit-scrollbar {
    width: 10px;
}

.gridContainer {
    grid-template-rows: 20px auto auto auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-areas: ". ." "text1 text2" "pic1 pic1" "pic2 pic2" "form form" "footer footer";
}

.indexText {
    font-size: 1.4em;
}

.spaceXImg {
    outline: 10px solid rgba(237, 221, 157, 0.38);
    outline-offset: -10px;
}

#up {
    bottom: 30px;
    left: 20px;
    width: 34px;
    height: 34px;
}

label input {
    height: 3em;
}

#map {
    width: 100%;
    height: 500px;
}

.singleContainer h3 {
    margin: 30px 10px 10px;
}

#mobileJump a {
    color: inherit;
    font-style: italic;
}

.noGridImg {
    margin: 40px 0 0;
}

.imgText {
    margin: 10px;
}

#mobileJump {
    margin: 20px 10px;
}

#event, #eventRight, #eventLeft {
    padding: 10px;
    border: 10px solid rgba(237, 221, 157, 0.38);
    position: fixed;
    top: 78px;
    width: calc(100% - 40px);
    height: calc(100vh - 118px);
    transform-origin: left;
}

iframe {
    min-height: 500px;
}

.detailContainer {
    border: 10px solid rgba(237, 221, 157, 0.38);
    padding: 5px 20px;
}

.detailContainer h3 {
    margin: 10px 0;
}

.openInfo {
    width: 44px;
    height: 44px;
}

.horiSpan {
    width: 44px;
    top: 19px;
}

.vertSpan {
    height: 44px;
    left: 19px;
}

.aboutImgText {
    margin-bottom: 30px;
}

#links, #roles {
    margin-top: 20px;
}

.footer {
    margin-bottom: 50px;
}

.spinner-error {
    display: none;
}
